<section class="navbar-section">
    <div class="navbar">
        <div class="left-side">
            <div class="nav-item-logo"><a href="">Shopping Cart (ADMIN)</a></div>
            <ul class="nav-items">
                <li class="ul-item"><a href="">All Products</a></li>
                <li class="ul-item"><a href="">All Orders</a></li>
                <li class="ul-item"><a href="">All Users</a></li>
            </ul>
        </div>

        <div class="right-side">
            <form action="" class="search-form">
                <input type="text" class="search-textbox" placeholder="Search...">
                <button class="search-btn">Search</button>
            </form>
        </div>
    </div>
</section>