@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}


/* Navbar designing */


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  background-color: #F8F9FA;
}

.left-side {
  display: flex;
  flex: 2;
  margin-top: 8px;
}

.right-side {
  flex: 1;
}

.right-side .container {
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 10px;
}

.nav-items {
  margin-top: 0px;
  display: flex;
  list-style-type: none;
}

.nav-item-logo {
  font-weight: 500;
  font-size: 16px;
}

.nav-item-logo a {
  text-decoration: none;
  color: black;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.ul-item {
  padding-right: 10px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: end;
}

.search-textbox {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
  font-size: 15px;
}

.search-btn {
  padding: 10px;
  color: #43A846;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #43A846;
  font-size: 15px;
}

.search-btn:hover {
  cursor: pointer;
  color: white;
  background-color: #43A846;
}



/* Products card section designing */
.products-row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 20px 20px;
  padding: 15px 15px;
  width: 250px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
}

.product-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-description {
  margin-top: 0px;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  text-decoration: none;
  color: white;
  background-color: #016BDC;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #016BDC;
  cursor: pointer;
  margin-bottom: 20px;
}


/* ADMIN side product table designing */

.view-products-table {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-container {
  margin-top: 20px;
  padding: 10px;
}

.products-table {
  border-collapse: collapse;
}


.product-table-image-thumbnail {
  height: auto;
  width: 50px;
}

.products-table-heading {
  border-bottom: 2px solid #a8a4a4;
  text-align: left;
}

.products-table-heading th {
  padding: 8px;
}

.products-table-data td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.row {
  display: flex;
  justify-content: right;
  margin-right: 50px;
  margin-top: 20px;
}

.add-product-btn {
  text-decoration: none;
  color: white;
  background-color: #43A846;
  padding: 10px;
  border-radius: 5px;
}


/* Admin add product designing */

.add-product-row {
  padding: 10px;
  margin-left: 20px;
}

.form-design {
  display: flex;
  flex-direction: column;
}

.add-product-form-input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.submit-btn {
  text-decoration: none;
  color: white;
  background-color: #43A846;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Account dropdown desgin */
.account-dropdown {
  display: inline-block;
  position: relative;
}

.account-dropdown-btn {
  padding: 10px 16px;
  background-color: #666666;
  color: white;
  border-radius: 6px;
  border: 1px solid #525151;
}

.account-dropdown-options {
  display: none;
  position: absolute;
  top: 48px;
}

.dropdown-item {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
}


/* Login form designs */
.login-form-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
}

.login-fields {
  display: flex;
  flex-direction: column;
}

.login-form {
  margin-top: 20px;
  padding-left: 30%;
  padding-right: 30%;
}

.email-input-field,
.password-input-field,
.name-input-field {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 18px;
}

.login-bottom-buttons {
  display: flex;
  justify-content: space-between;
}

.create-new-account-btn {
  text-decoration: none;
  color: #4285F4;
  font-weight: 500;
}

.login-btn {
  padding: 8px 15px;
  background-color: #4285F4;
  color: white;
  border-radius: 4px;
  border: 1px solid #296cd8;
}

.signup-btn {
  padding: 8px 8px;
  background-color: #4285F4;
  color: white;
  border-radius: 4px;
  border: 1px solid #296cd8;
}

.show-login-error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: red;
}

/* Admin side view products delete and edit button designs */
.delete-btn {
  text-decoration: none;
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 6px 12px;
}

.edit-btn {
  text-decoration: none;
  color: white;
  background-color: #4285F4;
  border-radius: 5px;
  padding: 6px 12px;
}

/* Edit product styling */
.edit-product-image-container {
  display: flex;
}

.edit-product-image {
  width: 100px;
  height: auto;
  padding-left: 10px;
  margin-bottom: 10px;
}

.edit-product-id-field {
  display: none;
}

/* Carts screen desinging */
.carts-container {
  display: flex;
  margin: 16px 100px;
}

.carts-table {
  flex: 1;
}

.visibilty-zero-field {
  visibility: hidden;
}

.carts-table {
  border-collapse: collapse;
}

.carts-table-heading th {
  border-bottom: 2px solid #a8a4a4;
  text-align: left;
}

.carts-table-heading th {
  padding: 8px;
}

.carts-table-data td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.carts-quantity-ctrl-btn {
  background-color: #20507e;
  border: 1px solid #585555;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.carts-quantity-value {
  background-color: white;
  border: 1px solid white;
  margin-left: 4px;
  margin-right: 4px;
}

.cart-badge {
  margin: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  color: white;
  text-align: center;
  display: inline-block;
  line-height: 22px;
  font-size: 10px;
  font-weight: 500;
  padding: 2px;
}

/* Desinging place order in carts page */
.place-order-container{
  float: right;
  margin-right: 210px;
}

/* Desinging the place order page */
.place-order-row{
  display: flex;
  justify-content: space-around;
}
.delivery-details-col{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.delivery-input-fields{
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px 0px;
}
.checkout-col{
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 5px;
  width: 340px;
  padding: 8px 50px;
  display: flex;
  flex-direction: column;
}
.payment{
  display: flex;
  flex-direction: column;
}
.checkout-btn{
  float: right;
  margin-top: 25px;
}

/* Order success page designing */
.order-success-heading{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.order-success-heading h3{
  font-size: 30px;
}

/* View orders page desing */
.view-products-btn{
  margin-top: 10px;
  margin-bottom: 10px;
}
.orders-table-data{
  font-size: 12px;
}

/* View ordered product page desinging */
.view-ordered-product-card{
  height: auto;
}