{{>user-header}}

<section class="order-success-section">
    <div class="order-success-heading">
        <h3>Order Placed Successfully</h3>
        <a href="/view-orders" class="add-to-cart-btn">View Orders</a>
    </div>
</section>